*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: black;
    color: white;
    font-size: 14.4px;

    font-family: "Fira Code", monospace;
    
}
#main-nav{
    color: white;
    width: 100%;
    border-bottom: 0.1px #1e1e1e solid;
    
}
#s-name{
    display: inline-block;
    position: relative;
    bottom: 4px;
    
}
#sf{
    margin-left: 80px;
}
#name{
    display: inline-block;
    margin-left: 15px; 
    padding: 13px 17px 13px 17px;
}
#skills{
    display: inline-block;
    margin-left: 121px;
    padding: 13px 17px 13px 17px;
}
.icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
#icon1{
    margin-right: 9px;
  
    background-image: url("../Image/images.png");
}
#icon2{
    background-image: url("../Image/unnamed.png");
    
}
#icon3{
    background-image: url("../Image/box.png");
}
#icon4{
    background-image: url("../Image/box2.png");
    height: 23px;
    width: 25px;
}
#icon5{
    background-image: url("../Image/edu.png");
    height: 23px;
    width: 25px;
}
#icon6{
    background-image: url("../Image/resume.png");
    height: 23px;
    width: 25px;
}
#icon7{
    background-image: url("../Image/search.png");
    height: 23px;
    width: 25px;
}
#icon8{
    background-image: url("../Image/moon.png");
    height: 23px;
    width: 25px;
}
#search{
    margin-left: 140px;
}
.name-sub{
    display: inline-block;
    position: relative;
    bottom: 4px;
}

.cen-n{
    display: inline-block;
    padding: 13px 17px 13px 17px;
}
.cen-n2{
    display: inline-block;
    padding: 13px 5px 13px 5px;
}
.cen-n:hover{
    background-color: #1e1e1e;
}

