/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/components/ScrollVelocity.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.parallax {
    position: relative;
    overflow: hidden;
}

.scroller {
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.02em;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.scroller span {
    flex-shrink: 0;
}

@media (min-width: 768px) {
    .scroller {
        font-size: 5rem;
        line-height: 5rem;
    }
}
