#Terms{
    font-weight: lighter;
    margin-top: 140px;
    margin-left: 110px;
}

#line{
    height: 0;
    width: 90%;
    border: 1px hsla(0, 0%, 65.1%, .25) solid;
    margin-left: 5.5%;
}
.footerlogo{
    margin-top: 30px;
   
}
footer{
   
    position: relative;
    bottom: 350px;
}
ul{
    display: inline-block;
    padding-right: 60px;
}

.footer1:hover{
        background-color: #95eab3;
        transition: background .3s, color .3s;
}
#list{
    position: relative;
    left: 935px;
    bottom: 200px;
}
#list2{
    position: relative;
    right: 30px;
}
