#pic-mid2{
    height: 500px;
    width: 500px;
    background-image: url("../Image/mid2.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 810px;
    bottom: 300px;
    
}
#mid-div2{
    margin-top: 20px;
}
#mid-div-text2{
    display: inline-block;
}
#mid-div-text-12{
    height: 200px;
    width: 500px;
}
h2{
    font-weight:400;
}
h1{
    font-size: 60px;
    font-weight: 600;
}
#mid-div-text-22{
    position: relative;
    bottom:50px;
    left: 300px;
}

