*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
section{
    display: inline-block;
}
#text-mid1{
    display: inline;
    font-size: 50px;
    font-weight: bold;
    
}
#text-mid2{
    margin-top: 40px;
}
#main-text{
    height: 500px;
    width: 450px;
    margin-top: 190px;
    margin-left: 100px;
}
#click{
    display: inline-block;
}
.click-b{
    margin-top: 40px;
    padding: 10px 25px 10px 25px;
    display: inline-block;
    border-radius: 6px;
}
#see{
    background-color: #023927;
    color: #64e892;
}
#get{
    background-color: #64e892;
    margin-left: 15px;
}
#img{
    background-image: url("../Image/Screenshot\ 2024-06-24\ 045420.png");
    height: 750px;
    width: 750px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    bottom: 600px;
    left: 670px;

}
#main-mid-div{
    display: inline-block;
    height: 750px;
    width: 100%;
}
#main-sec{
    position: relative;
    right: 50px;
}
body{
    width: 100%;
    height: 800px;
    overflow-x: hidden;
}